# Лабораторная работа №4
_Анализ и визуализация данных в Python_

Для начала о том, как пользоваться интерактивным блокнотом. Код помещается в ячейки, для выполнения кода в ячейке нужно кликнуть в ней мышкой, чтобы она выделилась, и нажать Shift-Enter. Поэкспериментируйте на ячейке ниже:

In [ ]:
1+1

Если в ячейке находятся несколько выражений, то результатом выполнения ячейки будет результат последнего выражения в ней:

In [ ]:
1+1
1+2

Теперь перейдём к работе с наборами данных при помощи бибилиотеки pandas

## Pandas
Для того, чтобы начать работать с pandas, как и всегда в python, его нужно импортировать. Обычно это делают так:

In [3]:
import pandas as pd

Теперь попробуем загрузить набор данных. Для примера возьмём titanic.csv из каталога datasets, который можно загрузить при помощи функции read_csv:

In [4]:
url='https://raw.githubusercontent.com/citrux/programming-technologies-4/main/datasets/titanic.csv'
data = pd.read_csv(url)

Взглянем на загруженные данные

In [5]:
data

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

Можно попробовать найти в этих данных что-нибудь интересное. Например, посчитаем, какое количество мужчин и женщин было на корабле. Информация об этом хранится в столбце Sex, доступ к которому можно получить следующими способами

In [8]:
data.Sex

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

или

In [9]:
data['Sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

Чтобы посчитать количество мужчин и женщин воспользуемся методом value_counts:

In [10]:
data.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

Извлечение из полного имени пассажира (колонка Name) его личное имя. Выборку делаем только для Женских имен:

In [6]:
def ParseFirstNameFemale(name):
    first = name.str.extract(r"Mrs\.\s+[^(]*\((\w+)", expand=False)
    first.loc[first.isna()] = name.str.extract(r"\.\s+(\w+)", expand=False)
    return first
female_names=ParseFirstNameFemale(data.loc[data["Sex"]=="female", "Name"])
female_names

1       Florence
2          Laina
3           Lily
8      Elisabeth
9          Adele
         ...
880      Imanita
882        Gerda
885     Margaret
887     Margaret
888    Catherine
Name: Name, Length: 314, dtype: object

In [7]:
female_names.value_counts()

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         7
             ..
Sara          1
Esther        1
Katie         1
Laina         1
Leila         1
Name: Name, Length: 177, dtype: int64

Можем также получить процентное соотношение, указав флаг normalize:

In [11]:
data.Sex.value_counts(normalize=True)

male      0.647587
female    0.352413
Name: Sex, dtype: float64

Можем определить среднюю цену билета, обратившись к столбцу Fare и воспользовавшись методом mean:

In [12]:
data.Fare.mean()

32.2042079685746

Из нашего набора данных можно построить новый, выбрав только нужные столбцы при помощи свойства loc, например

In [13]:
new_data = data.loc[:,['Name', 'Age']]
new_data

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

Можно отфильтровать только выживших

In [14]:
survived = new_data[data.Survived==1]
survived

                                                  Name   Age
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0
9                  Nasser, Mrs. Nicholas (Adele Achem)  14.0
..                                                 ...   ...
875                   Najib, Miss. Adele Kiamie "Jane"  15.0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0
880       Shelley, Mrs. William (Imanita Parrish Hall)  25.0
887                       Graham, Miss. Margaret Edith  19.0
889                              Behr, Mr. Karl Howell  26.0

[342 rows x 2 columns]

Полученный набор данных можно экспортировать обратно в csv функцией to_csv:

In [15]:
survived.to_csv('survived.csv', index=False)

## Numpy
Numpy -- это библиотека для работы с массивами в Python. Список из стандартной библиотеки не достаточно производителен и имеет достаточно скудный интерфейс, чтобы использовать его для научных вычислений. Начнём с импорта библиотеки, который обычно записывают так:

In [ ]:
import numpy as np

Создадим массив

In [ ]:
arr = np.array([1,2,3,4])

Ровно как и с питоновскими списками можно получать элемент по индексу и делать слайсы:

In [ ]:
arr[0]

In [ ]:
arr[2:]

Но можно и доставать элементы по спи

А можно сделать из него матрицу 2x2:

In [ ]:
m = arr.reshape((2,2))
m

Можно транспонировать эту матрицу

In [ ]:
m.T

Вот так можно получить доступ к первой строке матрицы

In [ ]:
m[0]

А вот так -- ко второму столбцу:

In [ ]:
m[:,1]

Но самое интересное -- это применение операции ко всему массиву сразу. Например:

In [ ]:
a = arr * 2
a

In [ ]:
b = arr + 1
b

Можно даже применять арифметические операции для двух массивов поэлементно, при условии, что их размеры совпадают:

In [ ]:
a + b

In [ ]:
a - b

In [ ]:
a * b

In [ ]:
a / b

In [ ]:
a ** b

Для нахождения скалярного произведения двух векторов есть оператор @

In [ ]:
a @ b

Он же отвечает за умножение матрицы на вектор и перемножение матриц по правилу строка на столбец:

In [ ]:
m @ a[:2]

In [ ]:
m @ m

Также массив позволяет находить статистические характеристики

In [ ]:
arr.sum(), arr.mean(), arr.std()

Можно фильтровать элементы массива по условию

In [ ]:
arr[arr < 3]

## Matplotlib
Для визуализации данных в python есть пакет matplotlib. Обычно его импортируют так:

In [ ]:
from matplotlib import pyplot as plt
%matplotlib inline

Вторая строчка нужна для того, чтобы графики отображались прямо в блокноте, а не в отдельном окне. Давайте что-нибудь построим:

In [ ]:
x = np.linspace(0, 2*np.pi, 100)
plt.plot(x, np.sin(x))
plt.show()

In [ ]:
x = np.linspace(0, 2*np.pi, 100)
y = np.linspace(0, np.pi, 50)
xx, yy = np.meshgrid(x, y)
zz = np.sin(xx) * np.cos(yy)
plt.contourf(xx, yy, zz, levels=100)
plt.show()

In [ ]:
x = np.linspace(0, 10, 100)
y = np.sin(x) + 0.1 * x
plt.scatter(x + np.random.rand(*x.shape), y + np.random.rand(*x.shape))
plt.show()

## Scikit-learn
А теперь немного машинного обучения со scikit-learn. Рассмотрим примеры задач классификации с использованием решающих деревьев, метода k ближайших соседей, а также линейную регрессию.

### Решающие деревья
Рассмотрим знакомый уже нам набор данных о пассажирах титаника. Будем решать на них задачу классификации, в которой по различным характеристикам пассажиров требуется предсказать, кто из них выжил после крушения корабля и на основании полученной модели определим наиболее важные для выживания признаки.

Для начала импортируем классификатор

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
clf = DecisionTreeClassifier()

Теперь подготовим данные. Для начала импортируем их и оставим только такие признаки как пол, класс, цена билета и возраст. В качестве целевой переменной у нас будет факт выживания:

In [ ]:
data = pd.read_csv('datasets/titanic.csv')
interesting = data.loc[:, ['Sex', 'Pclass', 'Fare', 'Age', 'Survived']]

Обратим внимание, что имеются пропуски в данных. Избавимся от них, удалив соответствующие строки

In [ ]:
interesting.dropna(inplace=True)

Теперь отделим признаки от целевой переменной

In [ ]:
X = interesting.iloc[:, :-1]
y = interesting.iloc[:, -1]

Заметим, что столбец Sex содержит текстовые данные и преобразуем их к числовым

In [ ]:
X.Sex = X.Sex.map(lambda x: 0 if x == 'female' else 1)

Обучим классификатор

In [ ]:
clf.fit(X, y)

Посмотрим на его результаты на обучающей выборке

In [ ]:
prediction = clf.predict(X)

и определим долю правильных ответов

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y, prediction)

### Метод k ближайших соседей
Сейчас мы будем подбирать оптимальное значение k для алгоритма kNN. Будем использовать набор данных Wine, где требуется предсказать сорт винограда, из которого изготовлено вино, используя результаты химических анализов

Начинаем с импорта классификатора

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

Загрузим данные

In [ ]:
data = pd.read_csv('datasets/wine.csv', header=None)

Класс записан в первом столбце (три варианта), признаки — в столбцах со второго по последний.

In [ ]:
X = data.iloc[:, 1:]
y = data.iloc[:, 0]

Для данного метода настраиваемым параметром является количество ближайших соседей k. Для определения качества классификации и оптимального количества соседей будем рассчитывать точность классификации на кросс-валидации для количества соседей в диапазоне от 1 до 50.

Создадим генератор разбиений для проведения кросс-валидации

In [ ]:
from sklearn.model_selection import KFold
cv = KFold(y.size, n_splits=5, shuffle=True)

И с помощью GridSearchCV будем искать оптимальное значение k

In [ ]:
from sklearn.model_selection import GridSearchCV

grid = {'n_neighbors': np.arange(50) + 1}
clf = KNeighborsClassifier()
gs = GridSearchCV(clf, grid, scoring='accuracy', cv=cv)
gs.fit(X, y)

Оптимальное значение количества соседей

In [ ]:
gs.best_params_

А точность при этом

In [ ]:
gs.best_score_

### Логистическая регрессия

Ещё одним способом классификации, несмотря на слово "регрессия" в названии, является логистическая регрессия. Одной из ее особенностей является возможность оценивания вероятностей классов, тогда как большинство линейных классификаторов могут выдавать только номера классов.

Загрузим данные:

In [ ]:
data = pd.read_csv('datasets/data-logistic.csv', header=None)
data

Импортируем классификатор

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(C=0.1)

Обучим классификатор

In [ ]:
clf.fit(data.iloc[:,1:], data.iloc[:,0])

Визуализируем результат

In [ ]:
xx,yy = np.meshgrid(np.linspace(data.iloc[:,1].min(), data.iloc[:,1].max(), 100),
                    np.linspace(data.iloc[:,2].min(), data.iloc[:,2].max(), 100))
zz = clf.predict(np.column_stack((xx.ravel(), yy.ravel())))
zz = zz.reshape(xx.shape)
plt.contourf(xx, yy, zz, levels=100)
plt.scatter(data[data[0]==-1].iloc[:,1], data[data[0]==-1].iloc[:,2], marker='v')
plt.scatter(data[data[0]==1].iloc[:,1], data[data[0]==1].iloc[:,2], marker='^')

Определим качество классификации при помощи метрики ROC-AUC:

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(data[0], clf.predict(data.iloc[:, 1:]))

### Линейная регрессия
А сейчас мы будем предсказывать зарплату по описанию вакансии! Начнём с загрузки данных

In [ ]:
data = pd.read_csv('datasets/salary-train.csv')
data

Подготовим данные. Для начала преобразуем все слова в столбце FullDescription в нижний регистр и заменим все спецсимволы на пробелы

In [ ]:
data.FullDescription = data.FullDescription.str.lower()
data.FullDescription = data.FullDescription.replace('[^a-zA-Z0-9]', ' ', regex = True)

Теперь заменим все пропущенные данные в столбцах LocationNormalized и ContractTime на 'nan':

In [ ]:
data['LocationNormalized'].fillna('nan', inplace=True)
data['ContractTime'].fillna('nan', inplace=True)

Теперь нам нужно преобразовать текст из столбца FullDescription в набор признаков. Одним из способов это сделать является TfidVectorizer.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfid = TfidfVectorizer(min_df=5)
X_train_tfid = tfid.fit_transform(data.FullDescription)

Чтобы представить в виде набора числовых признаков содержимое столбцов LocationNormalized и ContractTime воспользуемся DictVectorizer

In [ ]:
from sklearn.feature_extraction import DictVectorizer
enc = DictVectorizer()
X_train_categ = enc.fit_transform(data[['LocationNormalized', 'ContractTime']].to_dict('records'))

Объединим матрицы признаков

In [ ]:
from scipy.sparse import hstack
X = hstack((X_train_categ, X_train_tfid))

Обучим на этих признаках регрессор

In [ ]:
from sklearn.linear_model import Ridge
reg = Ridge(alpha=1)
reg.fit(X, data.SalaryNormalized)

Загрузим и преобразуем тестовые данные тем же образом

In [ ]:
test = pd.read_csv('datasets/salary-test-mini.csv')
test.FullDescription = test.FullDescription.str.lower()
test.FullDescription = test.FullDescription.replace('[^a-zA-Z0-9]', ' ', regex = True)
test

Выделим признаки и получим предсказания зарплат

In [ ]:
X_test_tfid = tfid.transform(test.FullDescription)
X_test_categ = enc.transform(test[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test = hstack((X_test_categ, X_test_tfid))

test.SalaryNormalized = reg.predict(X_test)
test